
.form-switch .form-check-input {
    width: 5vh;
    height: 3vh;
}

div.Card{
    display: flex;
    width: fit-content;
}

div.cardPlusMinus{
    width: fit-content;
    flex-direction: column;
    display:inline-block;
}

.gray{

}

.yellow .svg{
    background-color: gold;
}
.Card{
    
    display: flex;
    flex-direction: column;
    background-color:#a3c07e;
} 

 .card{
    margin-bottom: 10px;
    margin-top: 20px;
}
.svg-inline--fa.fa-star.fa-2xl.gray{
margin-left: 100px;
}
