:root{
    --color-text: #735e56;
    --color-text-rgb: 115, 94, 86;
    --color-body-text: #735e56;
    --color-sale-text: #75b91d;
    --color-small-button-text-border: #3a3a3a;
    --color-text-field: #ffffff;
    --color-text-field-text: #000000;
    --color-text-field-text-rgb: 0, 0, 0;
    --color-btn-primary: #ff812b;
    --color-btn-primary-darker: #f76400;
    --color-btn-primary-text: #ffffff;
    --color-blankstate: rgba(115, 94, 86, 0.35);
    --color-blankstate-border: rgba(115, 94, 86, 0.2);
    --color-blankstate-background: rgba(115, 94, 86, 0.1);
    --color-text-focus: #564640;
    --color-overlay-text-focus: #e6e6e6;
    --color-btn-primary-focus: #f76400;
    --color-btn-social-focus: #d2d2d2;
    --color-small-button-text-border-focus: #606060;
    --predictive-search-focus: #f2f2f2;
    --color-body: #ffffff;
    --color-bg: #ffffff;
    --color-bg-rgb: 255, 255, 255;
    --color-bg-alt: rgba(115, 94, 86, 0.05);
    --color-bg-currency-selector: rgba(115, 94, 86, 0.2);
    --color-overlay-title-text: #ffffff;
    --color-image-overlay: #685858;
    --color-image-overlay-rgb: 104, 88, 88;
    --opacity-image-overlay: 0.4;
    --hover-overlay-opacity: 0.8;
    --color-border: #ebebeb;
    --color-border-form: #cccccc;
    --color-border-form-darker: #b3b3b3;
    --font-weight-body--bold: 700;
    --font-weight-body--bolder: 700;
    --font-stack-header: Helvetica, 'Helvetica Neue', Arial, 'Lucida Grande', sans-serif;
    --font-style-header: normal;
    --font-weight-header: 700;
    --font-stack-body: Helvetica, 'Helvetica Neue', Arial, 'Lucida Grande', sans-serif;
    --font-style-body: normal;
    --font-weight-body: 400;
    --font-size-header: 26;
    --font-size-base: 15;
    --font-h1-desktop: 35;
    --font-h1-mobile: 32;
    --font-h2-desktop: 20;
    --font-h2-mobile: 18;
    --font-h3-mobile: 20;
    --font-h4-desktop: 17;
    --font-h4-mobile: 15;
    --font-h5-desktop: 15;
    --font-h5-mobile: 13;
    --font-h6-desktop: 14;
    --font-h6-mobile: 12;
    --font-mega-title-large-desktop: 65;
    --font-rich-text-large: 17;
    --font-rich-text-small: 13;
    --color-video-bg: #f2f2f2;
    --global-color-image-loader-primary: rgba(115, 94, 86, 0.06);
    --global-color-image-loader-secondary: rgba(115, 94, 86, 0.12);
}




















.home h1 {
    text-align: center;
    
} 