
.footer-container {
    background-color: #343a40;
    color: #adb5bd;
  }
  
  
  .social-icons-section {
    display: flex;
    justify-content: center;
    justify-content: space-between;
    padding: 1rem;
    border-bottom: 1px solid #adb5bd;
  }
  
  .social-icons-section .social-icons {
    display: flex;
    align-items: center;
  }
  
  .social-icons-section .social-icons a {
    margin-right: 1rem;
  }
  
 
  .about-section {
    padding: 2rem;
  }
  
  .about-section h6 {
    font-weight: bold;
    margin-bottom: 1rem;
  }
  

  .contact-section {
    padding: 2rem;
  }
  
  .contact-section h6 {
    font-weight: bold;
    margin-bottom: 1rem;
  }
  
  
  .copyright-section {
    background-color: rgba(0, 0, 0, 0.05);
    padding: 1rem;
    text-align: center;
  }
  
  .copyright-section a {
    font-weight: bold;
    color: #343a40;
  }
  