:root {
  --background-form-color: #CCCCCC;
  --h3-title-color: #444444;
  --background-button-color: #EFEFEF;
}

.form { 
  padding: 10px 10px 10px 10px;
  width: 400px; 
  margin: 20px auto 40px auto;
  padding: 20px; 
  background-color:var(--background-form-color) ;
  border: 1px solid #ddd; 
  border-radius: 5px; 
}
.h3-title{
  color: var(--h3-title-color) ;
}
.searchform {
    max-width: 600px;
    margin: 0 auto;
  }
  
  .form-control {
    width: 100%;
    margin: 10px 0 10px 0;
  }
  .filter {
    margin-top: 10px;
    margin-bottom: 20px;
  }
  
  .filter-title {
    font-weight: bold;
    margin-bottom: 10px;
    color: var(--h3-title-color) ;
  }
  
.searchbutton {
  height: 100%;
  width: 25%;
  margin-left: 130px;
  background-color:var(--background-button-color);
  }
  .img-icon {
    width: 50px;
    height: 50px;
    border: none;
  }

/* .btn-outline-primary{
  background-color: var(--background-button-color);
    height: 100%;
    width: 10%;
    color: white;
    margin-left: 35px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: none;
    font-size: 16px;
    cursor: pointer;
  }
.btn-primary{
  background-color: var(--background-button-color);
  height: 100%;
  width: 10%;
  color: white;
  margin-left: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: none;
  font-size: 16px;
  cursor: pointer;
  } */
  
  
